*{
  margin: 0;
  padding: 0;
}

body{
  color: #2b2b2b;
  font-family: 'Kiwi Maru', serif; 
  width: 1440px;
  margin-right: auto;
  margin-left: auto;
  background-color: #FEF5E8;
}

h2{
  font-size: 35px;
  text-align: center;
}

span{
  border-bottom: 1px solid #2b2b2b;
  width: 297px;

}

h3{
  font-size: 28px;
  padding-bottom: 7px;
}

.bigbox, .bigbox_1{
  width: 856px;
  height: 498px;
  background-color: #fff;
  margin-bottom: 104px;
  margin-right: auto;
  margin-left: auto;

}
span{
  width: 248px;
}
.bigbox_2{
  width: 856px;
  height: 527px;
  background-color: #fff;
  margin-bottom: 104px;
  margin-right: auto;
  margin-left: auto; 
}


.under{
float: left;
margin: 97px 0 160px 0;
}

.smallbox,.smallbox_1{
  width: 307px;
  height: 348px;
  float: left;
  margin: 83px 46px 96px 75px;
}

img{
  float: left;
  margin-right: 37px;
}

p{
  font-size: 18px;
  text-align: center;
}

.more_2{
  padding: 101px 0 101px 0;
  
}

.more_3{
  padding: 143px 0 143px 0;
}

.more_4{
  padding: 136px 0 150px 0px;
}

.detail_1{
  padding-top: 36px;
  padding-bottom: 9px;
}

.detail_2{
 padding-top: 11px;
}

.detail_3{
  padding-top: 32px;
  padding-bottom: 7px;
}

.detail_4{
  padding: 7px 0 8px 0;

}

.detail_5{
  padding: 15px 0 9px 0 ;
}

.detail_6{
  padding-top: 22px;
}

@media screen and (max-width:390px){
  body{
    width: 375px;
    
  }
h2{
  font-size: 30px;
  text-align: center;
}
h3{
  font-size: 25px;
}
p{
  font-size: 18px;
  text-align: center;
}
.bigbox, .bigbox_2{
  width: 335px;
  height: 600px;
  background-color: #FEF5E8;
}
.bigbox_1 {
  margin-top: 60px;
  width: 335px;
  height: 500px;
  background-color: #FEF5E8;
}

.bigbox{
  margin-bottom: 60px;
}

.smallbox {
 clear: both;
 margin-right: auto;
 margin-left: auto;
 margin-bottom: 48px;
 margin-top: 46px;
 width: 335px;
 height: 292px;
}
.smallbox_1{
  clear: both;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 48px;
  margin-top: 46px;
  width: 335px;
  height: 180px; 
}
img{
  width: 337px;
  height: 213px;
  clear: both;
  margin-right: auto;
  margin-left: auto;
}
.more_2{
  padding:0;
}

.more_3{
  padding: 30px 0 10px 0;
}
.more_4{
  padding: 5px 0 60px 0;
}

.under{
  padding: 11px 0 0 0;
 margin: 0;
}
}