*{
  margin: 0;
  padding:0;
}
title{
  font-family: 'RocknRoll One', sans-serif;
}



body{
  font-family: 'Kiwi Maru', serif;
  width: 1440px;
  color: #2b2b2b;
  margin-right: auto;
  margin-left: auto;
  
}

header{
  height: 76px;
  width: 1440px;
  color:#FEF5E8;
  background-color: #C53D43;
}

nav{
  text-align: center;
  box-shadow: #2b2b2b;
}

nav ul{
  margin: 0;
  padding: 32px 0 0 720px;

}


nav li{
  list-style: none;
  width: 160px;
  font-size: 22px;
  display: inline-block;
  min-width: 90px;
 
 
}

nav li:not(:last-child){
  border-right: 2px solid #FEF5E8;
}

nav a{
  text-decoration: none;
  color:#FEF5E8;
}

nav a:hover{
  color: #1C305C;
border-bottom: 2px solid #1C305C;
}

.main{
  width: 1440px;
  height: 829px;
  background-image: url(image/main.png);
  background-size: cover;
}


h2{
  font-size: 60px;
  
}
.title_1 {
  padding: 176px 0px 62px 0px;
  color: #2b2b2b;
  font-size: 48px;
  display: flex;
  align-items: center; 
  justify-content: center; 
}
.title_1:before, .title_1:after {
  border-top: 1px solid;
  content: "";
  width: 255px; 
}
.title_1:before {
  margin-right: 81px; 
}
.title_1:after {
  margin-left: 81px; 
}

h3{
  font-size: 48px;
  font-weight:lighter;
}

span{
  border-bottom: 1px solid #2b2b2b;
}

h5{
  font-size: 30px;
  color: #2b2b2b;
  font-weight: lighter;
}

p{
  font-size: 22px;
}

.about{
text-align: center;
height: 1073px;
background-color: #FEF5E8;
}
.about p{
  padding-bottom: 109px;
}  


.about_img{
  width: 856px;
  height: 429px;
  background-image: url(image/about.png);
  background-size: contain;
  margin-right: auto;
  margin-left: auto;
  
}

.step{
  background-color: #C53D43;
  height: 891px;
color: #FEF5E8;
}

.title_2 {
  font-size: 48px;
  color: #FEF5ED;
  display: flex;
  align-items: center; 
  justify-content: center;
 padding: 144px 0 54px 0 ;
}
.title_2:before, .title_2:after {
  border-top: 1px solid #FEF5ED;
  content: "";
  width: 152px; 
}
.title_2:before {
  margin-right: 102px; 
}
.title_2:after {
  margin-left: 102px; 
}

.step h3{
  padding: 149px 0px 49px 0px ;
  text-align: center;
}

.step p{
  text-align: center;
}
.step img{
  filter: drop-shadow(0px 5px 5px rgba(0,0,0,0.5));
}
.select{
  width: 200px;
  height: 324px;
  float: left;
  margin: 100px 122px 134px 297px;
  color: #FEF5E8;
}


.select h3{
  padding-top: 1px;
}

.write{
  width: 200px;
  height: 324px;
  float: left;
  margin: 100px 118px 134px 0px;
  color: #FEF5E8;
}
.write h3{
  padding-top: 1px;
}
.wrap{
  width: 200px;
  height: 324px;
  float: left;
  margin: 100px 303px 134px 0px;
  color:#FEF5E8;
}
.wrap h3{
  padding-top: 1px;
}

.step1{
  height: 3430x;
  background-color: #FEF5E8;
  text-align: center;
}
.step1 h2{
  color: #F6E2CF;
}

.step1 h3{
  padding-bottom: 79px;
}
.title_3 {
  font-size: 48px;
  color: #2b2b2b;
  display: flex;
  align-items: center; 
  justify-content: center;
  padding: 48px 0 79px 0; 
}
.title_3:before, .title_3:after {
  border-top: 1px solid #2b2b2b;
  content: "";
  width: 140px; 
}
.title_3:before {
  margin-right: 151px; 
}
.title_3:after {
  margin-left: 151px; 
}
.step1 p{
  padding-bottom: 158px;
}

.bx-wrapper{
  width: 759px;
  height: 300px;
margin: auto;
}

.slider img{
  
  box-shadow: 10px 10px 10px 10px rgba(0,0,0,0.10); 
}


.ex{
  margin-left: 75px;
  text-align: left;
}
.thrme_2 .ex{
  padding-left: 89px;
  
}
.theme{
  height: 2127px;
  
 background-color: #FEF5E8; 
}

.theme_1{
  width: 892px;
  height: 449px;
  margin: 425px 276px 0px 272px ;

  display: flex;
}
.theme_1 p{
  padding: 21px 0 21px 0;
}

.theme_1 .left{
  margin-top: 98px;
}
.theme_2{
  width: 892px;
  height: 449px;
  margin: 310px 276px 0px 272px ;
  display: flex;
}

.theme_2 p{
  padding: 25px 0 54px 0;
}

.theme_2 .right{
  margin-top: 61px;
}

.theme_3{
  width: 892px;
  height: 449px;
  margin: 302px 276px 0px 272px ;
 display: flex;
}

.theme_3 p{
padding-top: 34px;
}

.theme_3 .left{
  margin-top: 84px;
}
.theme br {
  display: block;
  content: "";
  margin: 15px 0;
  }
.left{
  
  margin-right: 55px;
}
.right{
  
  margin-left: 55px;
  
}
.step2{
  background-color: #C53D43;
 color: #FEF5E8; 
 height: 2076px;
 text-align: center;

}

.step2 h2{
  color: #D35A5f;
}

.title_4 {
  font-size: 48px;
  color: #FEF5ED;
  display: flex;
  align-items: center; 
  justify-content: center;
  padding-bottom: 68px; 
}
.title_4:before, .title_4:after {
  border-top: 1px solid #FEF5ED;
  content: "";
  width: 152px; 
}
.title_4:before {
  margin-right: 102px; 
}
.title_4:after {
  margin-left: 102px; 
}


.position{
  background-color: #FEF5E8;
  width: 965px;
  height: 1404px;
  margin: 78px 243px 68px 243px;
}

.position h4{
  color: #2b2b2b;
  font-size: 36px;
  padding: 41px 0;
  font-weight:lighter;
}
.position_2 {
  width: 612px;
  height: 209px;
  margin:0 0 94px  176px;
}


.position_2 h5{
  padding: 28px 0 0 18px;
text-align: left;
 }

.position_2 img{
padding-top: 30px;
}
.position span{
  border-bottom: 1px solid #1C305C;
  color: #1C305C;
  }
  .position_box{
    display: flex;
  }

.point_p h5{
  text-align: left;
}

.point_p{
  margin: 19px 0 79px 247px;
width: 480px;
height: 135px;
}



.btn{
  width:448px;
  height:68px;
  line-height:68px;
  margin: auto;
}
.btn a{
  display:block;
  width:100%;
  height:100%;
  text-decoration: none;
  background:#C53D43;
  text-align:center;
  color:#FEF5ED;
  font-size:25px;
  font-style:oblique;
  border-radius:33px;
  -webkit-border-radius:33px;
  -moz-border-radius:33px;
  box-shadow:3px 3px 0px 0px #CC282F ;
}
.btn a:hover{
  background:#C53D43;
  color:#FEF5ED;
  margin-left:3px;
  margin-top:3px;
  box-shadow:none;
}


.step3{
  height: 1503px;
  background-color: #FEF5E8; 
  text-align: center;
  overflow: hidden;
}
.step3 h2{
  padding: 150px 0 3px 0px;
}

  

.title_5 {
  font-size: 48px;
  display: flex;
  align-items: center; 
  justify-content: center;
  padding-bottom: 35px; 
}
.title_5:before, .title_5:after {
  border-top: 1px solid #2b2b2b;
  content: "";
  width: 127px; 
}
.title_5:before {
  margin-right: 82px; 
}
.title_5:after {
  margin-left: 82px; 
}
.inside{
  width: 408px;
  height: 700px;
  float: left;
  margin: 181px 80px 143px 272px;
}
.step3 img{
  width: 408px;
  height: 514px;
}
.outside{
  width: 408px;
  height: 706px;
  float: left;
  margin: 181px 272px 137px 0px;
}

.number{
  padding: 143px 0 48px 0px;
  font-family: 'Sawarabi Gothic', sans-serif;

}
.step3 h2{
  color: #F6E2CF;
}

.bonus{
  height: 950px;
   color: #F6E2CF;
 text-align: center;
  background-color: #C53D43;
}

.bonus h2{
  padding: 102px 0px 0px 16px; 
  color: #D35A5F;
}


.title_6 {
  font-size: 48px;
  color: #FEF5ED;
  display: flex;
  align-items: center; 
  justify-content: center;
  padding-bottom: 48px; 
}
.title_6:before, .title_6:after {
  border-top: 1px solid #FEF5ED;
  content: "";
  width: 152px; 
}
.title_6:before {
  margin-right: 102px; 
}
.title_6:after {
  margin-left: 102px; 
}
table{
  margin-top: 71px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
 
}

td{
  font-size: 24px;
  color: #2b2b2b;
  height: 86px;

 background-color: #F6E2CF; 
}

th{
  font-size: 33px;
  height: 86px;
  width: 280px;

  background-color: #1C305C;
}

.final{
  text-align: center;
  height: 512px;
  background-color: #FEF5E8;
}
.final p{
  font-size: 28px;
} 
.title_7 {
  padding: 115px 0px 60px 0px;
  color: #2b2b2b;
  font-size: 48px;
  display: flex;
  align-items: center; 
  justify-content: center; 
}
.title_7:before, .title_7:after {
  border-top: 1px solid;
  content: "";
  width: 137px; 
}
.title_7:before {
  margin-right: 71px; 
}
.title_7:after {
  margin-left: 71px; 
}


footer{
  height: 43px;
  background-color: #c53d43;
}

@media screen and (max-width:375px){

header{
  width: 375px;
  height: 70px;
}
body{
  width: 375px;
}  
br{
  display: none;
}

p, h5{
  font-size: 20px;
 
}
h2, h3, h4{
  font-size: 30px;
}


.title_1, .title_2, .title_3, .title_4, .title_5, .title_6, .title_7{
  font-size: 30px;
}

.title_1:after, .title_1:before, .title_2:after,.title_2:before,.title_3:after,.title_3:before,.title_4:after,.title_4:before,.title_5:after,.title_5:before,.title_6:after,.title_6:before,.title_7:after,.title_7:before{
  border: none;
  content: none;
}

.title_1{
  padding: 66px 0 56px 0; 
}

.title_2{
  padding: 51px 0 36px 0;
}
.main{
  background-image: url(image/main_sh.png);
  background-size: cover;
  width: 375px;
}
.about{
  height: 741px;
 width: 375px;
}
.about p, .title_3p, .step p, .step2 p, .step3 p, .bonus p {
 padding: 0 25px;

}
.about_img{
  width: 335px;
  height: 324px;
  background-image: url(image/about_ph.png);
  background-size: contain;
  margin: 33px 22px 54px 22px;

}

.step{
  height: 1166px;
}
.step img{
  width: 147px;
  height: 147px;
}
.select, .wrap,.write{
  width: 147px;
  height: 217px;
  clear: both;
  margin: 63px 114px 0px 114px;
}
.step h3{
  padding: 5px 0 0 0;
}



.step1{
  height: 2876px;
}

.title_3{
  padding: 0 0 39px 0;
}
.step1 p{
  padding: 0 25px 86px 25px;
}
.step1 h3{
  padding-bottom: 33px;
}
.step1 h2{
  padding: 29px 0 12px 0;
}

.bx-wrapper{
  width: 301px;
  height: 275px;
  margin: 0 auto;
}

.slider img{
  margin-left: 36px;
}

.theme{
  height: 2023px;
  
}
.theme p{
  padding-bottom: 26px;
}

.noshi {
  width: 333px;
  height: 211px;
  
}

.decorate{
  width: 30px;
  height: 18px;
}

.left, .right{
  
 margin : 0 ;
}

.theme_1, .theme_2, .theme_3{
  width: 332px;
  flex-direction: column;
  margin: 0 20px;
}
.theme_1{
  height: 695px;
 margin-top: 175px;
flex-direction: column-reverse;
}

.theme_1 .ex{
  width: 230px;
  height: 286px;
}

.theme_2{
  height: 565px;
 margin-top: 125px;
}

.theme_2 .ex{
 width: 207px;
 height: 153px;

}

.theme_3{
  height: 511px;
  margin-top: 125px;
  flex-direction: column-reverse;
}
.theme_1 .left, .theme_2 .right , .theme_3 .left{
  margin-top: 59px;
}

.ex{
  
  margin-top: 46px;
  
}


.step2{
  width: 375px;
  height: 1363px;
}

.step2 .number{
padding: 40px 0 0 0;
}
.title_4{
  padding-bottom: 18px;
}
.position{
  width: 335px;
  height: 1062px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 34px;
}

.position img{
  width: 325px;
  height: 233px;
 margin: 0 5px;
}

.point_p{
width: 325px;
height: 93px;
 margin: 11px 5px 127px 5px;
}

.btn{
  width: 315px;
  height: 54px;
  margin: 0 10px 38px 10px;
}
.btn a{
  font-size: 23px;
  padding-bottom: 15px;
}
.position_2{
  margin: 0 3px 87px 15px;
}
.position_2 h5{
  padding: 29px 0 0 9px;
  
}

.position_box{
 margin: 15px 30px 0 0;
  width: 304px;
  height: 63px;
}



.position_box img{
  width: 30px;
  height: 30px;
}
.position h4{
  font-size: 25px;
  padding: 0;
}
.position span {
border-bottom: none;
}
.step3{
  height: 1874px;
}
.title_5{
  padding: 10px 0 28px 0;
}
.step3 h2{
  padding: 63px 0  0 0;
}

.step3 img{
  width: 335px;
  height: 442px;
  margin-right: auto;
  margin-left: auto;

}
.outside, .inside{
  clear: both;
 margin: 31px 20px 131px 20px;
  text-align: center;
  width: 335px;
  height: 571px;
}
.step3 p{
  padding: 10px 25px 50px 25px;

}
.bonus{
  height: 727px;
}

.title_6{
  padding-bottom: 42px;
}
.bonus h2{
  padding: 16px 0 7px 0;
}
table{
  margin: 93px 25px 109px 25px;

}

td{
 font-size: 20px; 
 height: 49px;
}

th{
  width: 167px;
  font-size: 25px;
  height: 51px;
}

.final{
  height: 295px;
}

.title_7{
  padding: 38px 0 33px 0;
}

.final p{
  font-size: 20px;
  padding: 0 25px 96px 25px;
}
}